.footer {
    width: 100%;
    background-color: #000;
}
/**
 * footer-nav
 */
.footer-nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-nav article {
    flex: 25%;
    margin-right: 10px;
}
.footer-nav article a {
    display: block;
    line-height: 36px;
    font-size: .9em;
    text-decoration: none;
    color: #fff;
    transition: color .15s;
}
.footer-nav article a:hover {
    color: #2dbb69;
}
/**
 * footer-secondary
 */
 .footer-secondary {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
 }
 .footer-secondary article {
    flex: 25%;
    padding-top: 12px;
    border-top: 1px solid #fff;
    margin: 20px 50px 0 0;
 }
 .footer-secondary article p {
    font-size: .85em;
    line-height: 1.6em;
    color: #fff;
 }
.footer-secondary figure {
    flex: 25%;
    padding-top: 12px;
    margin: 6px 50px 0 0;
}
