.nav {
    width: 100%;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}
.menu li {
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 40px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    transition: color .15s;
}
.menu li a:hover {
    color: #2dbb69;
}
.logo {
    position: absolute;
    left: 0;
}
